/* Write your CSS here */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-sm {
  display: block;
}

@media screen and (min-width: 768px) {
  .home-sm {
    display: none;
  }
}

.home-lg {
  display: none;
}

@media screen and (min-width: 768px) {
  .home-lg {
    display: block;
  }
}
